label{
    margin-left:30px;
}

label,input,select{
    font-size:20px;
}

.title{
    height:40px;
    background-color: black;
    color:white;
    font-size:30px;
    text-transform: capitalize;
    padding:10px;
    width:100%;
    display: flex; 
}

.item{
    font-size: 20px;
}

select,input{
    margin:20px;
}

.buttons{
    display:flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
}
