*{
    font-family: 'Times New Roman', Times, serif;
}
.title{
    height:40px;
    background-color: black;
    color:white;
    font-size:30px;
    text-transform: capitalize;
    padding:10px;
}

.add{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.heading,.forms{
    display:flex;
    align-items: center;
    justify-content: space-around;
    padding:10px;
}

.heading{
    font-size: 20px;
    color:white;
    text-align: center;
    gap:178px;
}

.items{
    margin-left: 100px;
    color:white;
} 

button{
    width:80px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

select,input{
    font-size: 20px;
    padding:10px;

}
